<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Banner1>
            <version>1.5.0.1</version>
        </Magentothem_Banner1>
    </modules>
    <frontend>
        <routers>
            <banner1>
                <use>standard</use>
                <args>
                    <module>Magentothem_Banner1</module>
                    <frontName>banner1</frontName>
                </args>
            </banner1>
        </routers>
        <layout>
            <updates>
                <banner1>
                    <file>banner1.xml</file>
                </banner1>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<banner1>
				<use>admin</use>
				<args>
					<module>Magentothem_Banner1</module>
					<frontName>banner1</frontName>
				</args>
			</banner1>
        </routers>
    </admin>
    <adminhtml>
	<menu>
		<magentothem translate="title" module="banner1">
			<title>Magentothem</title>
			<sort_order>71</sort_order>               
			<children>
				<banner1 translate="title" module="banner1">
					<title>Banner1</title>
					<sort_order>0</sort_order>
					<children>
						<items translate="title" module="banner1">
							<title>Manage Items</title>
							<sort_order>0</sort_order>
							<action>banner1/adminhtml_banner1</action>
						</items>
						<configuration>
							<title>Configuration</title>
							<sort_order>1</sort_order>
							<action>adminhtml/system_config/edit/section/banner1</action>
						</configuration>
					</children>
				</banner1>
			</children>
		</magentothem>
	</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Banner1>
							<title>Banner1 Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Banner1>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<banner1>
					<file>banner1.xml</file>
				</banner1>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <banner1>
                <class>Magentothem_Banner1_Model</class>
                <resourceModel>banner1_mysql4</resourceModel>
            </banner1>
            <banner1_mysql4>
                <class>Magentothem_Banner1_Model_Mysql4</class>
                <entities>
                    <banner1>
                        <table>banner1</table>
                    </banner1>
                </entities>
            </banner1_mysql4>
        </models>
        <resources>
            <banner1_setup>
                <setup>
                    <module>Magentothem_Banner1</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banner1_setup>
            <banner1_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </banner1_write>
            <banner1_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </banner1_read>
        </resources>
        <blocks>
            <banner1>
                <class>Magentothem_Banner1_Block</class>
            </banner1>
        </blocks>
        <helpers>
            <banner1>
                <class>Magentothem_Banner1_Helper</class>
            </banner1>
        </helpers>
    </global>
	<default>
		<banner1>
			<banner1_config>
				<enabled>1</enabled>
				<animation>animation1</animation>
				<width>640</width>
				<height>350</height>
				<speed>1000</speed>
				<interval>4000</interval>
				<qty_item>3</qty_item>
				<next_back>1</next_back>
				<nav_ctrl>1</nav_ctrl>
			</banner1_config>
		</banner1>
	</default>
</config>