<?xml version="1.0"?> 
<config>
	<modules>
		<Drecomm_Storepicker> 
			<version>1.1</version>
			<depends>
			</depends>
		</Drecomm_Storepicker> 
	</modules>
	<global> 
		<models>
			<storepicker>
				<class>Drecomm_Storepicker_Model</class>
				<resourceModel>storepicker_mysql4</resourceModel>
			</storepicker>
			<storepicker_mysql4>
				<class>Drecomm_Storepicker_Model_Mysql4</class>
				<entities>
					<stores>
						<table>storepicker_stores</table>
					</stores>
				</entities>
			</storepicker_mysql4>
			<sales>
				<rewrite>
					<order>Drecomm_Storepicker_Rewrite_Sales_Model_Order</order>
				</rewrite>
			</sales>
		</models>
		<blocks>
			<adminhtml>
				<rewrite>
				</rewrite>
			</adminhtml>
		</blocks>
		<resources>
			<storepicker_setup> 
				<setup>
					<module>Drecomm_Storepicker</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</storepicker_setup>
			<storepicker_write>
				<connection> 
					<use>core_write</use>
				</connection>
			</storepicker_write> 
				<storepicker_read>
				<connection>
					<use>core_read</use> 
				</connection>
			</storepicker_read>
		</resources>
		<blocks>
			<storepicker> 
				<class>Drecomm_Storepicker_Block</class>
			</storepicker> 
		</blocks>
		<helpers>
			<storepicker> 
				<class>Drecomm_Storepicker_Helper</class>
			</storepicker> 
		</helpers>
	</global>
	<admin>
		<routers>
			<storepicker>
				<use>admin</use>
				<args>
					<module>Drecomm_Storepicker</module>
					<frontName>storepicker_admin</frontName>
				</args>
			</storepicker>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<storepicker module="storepicker">
				<title>Storepicker</title>
				<sort_order>31</sort_order>               
				<action>storepicker_admin/manage_stores/index</action>
				<children>
					<new module="storepicker">
						<title>Add store</title>
						<sort_order>0</sort_order>
						<action>storepicker_admin/manage_stores/new</action>
					</new>					
					<posts module="storepicker">
						<title>Stores</title>
						<sort_order>10</sort_order>
						<action>storepicker_admin/manage_stores/index</action>
					</posts>
					<settings translate="title" module="storepicker">
						<title>Settings</title>
						<sort_order>20</sort_order>
						<action>adminhtml/system_config/edit/section/storepicker</action>
					</settings>	
				</children>
			</storepicker>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<storepicker>
											<title>Storepicker setup</title>
										</storepicker>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<storepicker>
					<file>drecomm_storepicker.xml</file>
				</storepicker>
			</updates>
		</layout>
		<events></events> 
		<translate></translate>
	</adminhtml> 
	<frontend>
		<routers>
			<storepicker>
				<use>standard</use>
				<args>
					<module>Drecomm_Storepicker</module>
					<frontName>storepicker</frontName>
				</args>
			</storepicker>
		</routers>
		<events>
			<controller_action_predispatch>
				<observers>
					<controller_action_before>
						<type>singleton</type>
						<class>storepicker/observer</class>
						<method>hookToControllerActionPreDispatch</method>
					</controller_action_before>
				</observers>
			</controller_action_predispatch>
		</events>
		<translate></translate> 
		<layout>
			<updates>
				<storepicker>
					<file>drecomm_storepicker.xml</file>
				</storepicker>
			</updates>
		</layout>
	</frontend>
	<!-- module defaults --> 
	<default>
		<!-- config values -->
		<storepicker>
			<store>
				<storepicker_google_key><![CDATA[]]></storepicker_google_key>
			</store>
			<display>
				<items_per_page>5</items_per_page>
			</display>
		</storepicker> 
		<carriers>
			<storepickershippingmethod>
				<active>1</active>
				<sallowspecific>0</sallowspecific>
				<model>storepicker/carrier_shippingMethod</model>
				<name>Storepicker</name>
				<title>Drecomm Storepicker Send</title>
				<specificerrmsg>
				This shipping method is currently unavailable.
				If you would like to ship using this shipping
				method, please contact us.
				</specificerrmsg>
				<handling_type>F</handling_type>
			</storepickershippingmethod>
			<storepickerpickupmethod>
				<active>1</active>
				<sallowspecific>0</sallowspecific>
				<model>storepicker/carrier_pickupMethod</model>
				<name>Storepicker</name>
				<title>Drecomm Storepicker Pickup</title>
				<specificerrmsg>
				This shipping method is currently unavailable.
				If you would like to ship using this shipping
				method, please contact us.
				</specificerrmsg>
				<handling_type>F</handling_type>
			</storepickerpickupmethod>
		</carriers>
	</default>
</config>
