<?xml version="1.0"?>
<config>
	<modules>
		<Ophirah_Qquoteadv>
			<version>2.0.2</version>
		</Ophirah_Qquoteadv>
	</modules>
	<global>
		<models>
			<qquoteadv>
				<class>Ophirah_Qquoteadv_Model</class>
				<resourceModel>qquoteadv_mysql4</resourceModel>
			</qquoteadv>
			<qquoteadv_mysql4>
				<class>Ophirah_Qquoteadv_Model_Mysql4</class>
				<entities>
					<qqadvcustomer>
						<table>quoteadv_customer</table>
					</qqadvcustomer>
					<qqadvproduct>
						<table>quoteadv_product</table>
					</qqadvproduct>
					<requestitem>
						<table>quoteadv_request_item</table>
					</requestitem>
				</entities>
			</qquoteadv_mysql4>
			<qquoteshiprate>
				<class>Ophirah_Qquoteadv_Model</class>
			</qquoteshiprate>
		</models>
		<resources>
			<qquoteadv_setup>
				<setup>
					<module>Ophirah_Qquoteadv</module>
					<class>Ophirah_Qquoteadv_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</qquoteadv_setup>
			<qquoteadv_write>
				<connection>
					<use>core_write</use>
				</connection>
			</qquoteadv_write>
			<qquoteadv_read>
				<connection>
					<use>core_read</use>
				</connection>
			</qquoteadv_read>
		</resources>
		<blocks>
			<qquoteadv>
				<class>Ophirah_Qquoteadv_Block</class>
			</qquoteadv>
			<checkout>
				<rewrite>
					<!--<links>Ophirah_Qquoteadv_Block_Checkout_Links</links>-->
					<onepage_shipping_method_available>Ophirah_Qquoteadv_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
				</rewrite>
			</checkout>
			<adminhtml>
				<rewrite>
					<widget_grid_column_filter_country>Ophirah_Qquoteadv_Block_Adminhtml_Widget_Grid_Column_Filter_Country</widget_grid_column_filter_country>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<qquoteadv>
				<class>Ophirah_Qquoteadv_Helper</class>
			</qquoteadv>
		</helpers>
		<template>
			<email>
				<qquoteadv_emails_new_account
					translate="label" module="qquoteadv">
					<label>cart2quote new account</label>
					<file>qquoteadv/qquoteadv_account_new.html</file>
					<type>html</type>
				</qquoteadv_emails_new_account>
				<qquoteadv_emails_request translate="label"
					module="qquoteadv">
					<label>cart2quote request</label>
					<file>qquoteadv/qquoteadv_request.html</file>
					<type>html</type>
				</qquoteadv_emails_request>
				<qquoteadv_emails_request_details translate="label"
					module="qquoteadv">
					<label>cart2quote request details</label>
					<file>qquoteadv/qquoteadv_request_details.html</file>
					<type>html</type>
				</qquoteadv_emails_request_details>
				<qquoteadv_emails_proposal translate="label"
					module="qquoteadv">
					<label>cart2quote proposal</label>
					<file>qquoteadv/qquoteadv_proposal.html</file>
					<type>html</type>
				</qquoteadv_emails_proposal>
				<qquoteadv_emails_proposal_cancel
					translate="label" module="qquoteadv">
					<label>cart2quote cancel</label>
					<file>qquoteadv/qquoteadv_cancel.html</file>
					<type>html</type>
				</qquoteadv_emails_proposal_cancel>
				<qquoteadv_emails_proposal_reject
					translate="label" module="qquoteadv">
					<label>cart2quote reject</label>
					<file>qquoteadv/qquoteadv_reject.html</file>
					<type>html</type>
				</qquoteadv_emails_proposal_reject>

			</email>
		</template>
		<events>
			<customer_login>
				<observers>
					<qquoteadv_save_before_observer>
						<type>singleton</type>
						<class>qquoteadv/customer_observer</class>
						<method>before</method>
					</qquoteadv_save_before_observer>
				</observers>
			</customer_login>
			<customer_logout>
				<observers>
					<qquoteadv_customer_logout>
						<type>singleton</type>
						<class>qquoteadv/customer_observer</class>
						<method>updateCustomerQuoteadv</method>
					</qquoteadv_customer_logout>
				</observers>
			</customer_logout>
			<core_layout_update_updates_get_after>
				<observers>
					<qquoteadv_qquoteadv>
						<type>singleton</type>
						<class>qquoteadv/observer</class>
						<method>switchQuoteLayout</method>
					</qquoteadv_qquoteadv>
				</observers>
			</core_layout_update_updates_get_after>
			<checkout_cart_product_add_after>
				<observers>
					<qquoteadv_qquoteadv>
						<type>singleton</type>
						<class>qquoteadv/observer</class>
						<method>setCartQuoteMode</method>
					</qquoteadv_qquoteadv>
				</observers>
			</checkout_cart_product_add_after>
            <sales_quote_add_item>
                <observers>
					<qquoteadv_qquoteadv>
						<type>singleton</type>
						<class>qquoteadv/observer</class>
						<method>setCustomPrice</method>
					</qquoteadv_qquoteadv>
				</observers>
            </sales_quote_add_item>
			<sales_quote_remove_item>
				<observers>
					<qquoteadv_qquoteadv>
						<type>singleton</type>
						<class>qquoteadv/observer</class>
						<method>disableRemoveQuoteItem</method>
					</qquoteadv_qquoteadv>
				</observers>
			</sales_quote_remove_item>
            <sales_convert_quote_item_to_order_item>
				<observers>
					<qquoteadv_logout>
						<type>singleton</type>
						<class>qquoteadv/observer</class>
						<method>logoutFromQuoteConfirmationMode</method>
					</qquoteadv_logout>
				</observers>                
            </sales_convert_quote_item_to_order_item>
			<controller_action_predispatch_checkout_cart_updatePost>
				<observers>
					<qquoteadv_update_qty>
						<type>singleton</type>
						<class>qquoteadv/observer</class>
						<method>disableQtyUpdate</method>
					</qquoteadv_update_qty>
				</observers>    
			</controller_action_predispatch_checkout_cart_updatePost>
			<controller_action_predispatch_checkout_cart_updateItemOptions>
				<observers>
					<qquoteadv_update_options>
						<type>singleton</type>
						<class>qquoteadv/observer</class>
						<method>disableUpdateItemOptions</method>
					</qquoteadv_update_options>
				</observers>
			</controller_action_predispatch_checkout_cart_updateItemOptions>
			<controller_action_predispatch_checkout_cart_add>
				<observers>
					<qquoteadv_update_qty>
						<type>singleton</type>
						<class>qquoteadv/observer</class>
						<method>disableAddProduct</method>
					</qquoteadv_update_qty>
				</observers>
			</controller_action_predispatch_checkout_cart_add>
		</events>
	</global>
	<crontab>
		<jobs>
			<update_status_request>
				<schedule>
					<cron_expr>01 7 * * *</cron_expr>
				</schedule>
				<run>
					<model>qquoteadv/observer::updateStatusRequest</model>
				</run>
			</update_status_request>
			<update_status_proposal>
				<schedule>
					<cron_expr>30 7 * * *</cron_expr>
				</schedule>
				<run>
					<model>qquoteadv/observer::updateStatusProposal</model>
				</run>
			</update_status_proposal>
		</jobs>
	</crontab>
	<frontend>
		<routers>
			<qquoteadv>
				<use>standard</use>
				<args>
					<module>Ophirah_Qquoteadv</module>
					<frontName>qquoteadv</frontName>
				</args>
			</qquoteadv>
            <checkout>
                <args>
                    <modules>
                         <Ophirah_Qquoteadv before="Mage_Checkout">Ophirah_Qquoteadv_Checkout</Ophirah_Qquoteadv>
                    </modules>
                </args>
            </checkout>
		</routers>
		<layout>
			<updates>
				<qquoteadv>
					<file>qquoteadv.xml</file>
				</qquoteadv>
			</updates>
		</layout>
		<translate>
			<modules>
				<Ophirah_Qquoteadv>
					<files>
						<default>Ophirah_Qquoteadv.csv</default>
					</files>
				</Ophirah_Qquoteadv>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<qquoteadv>
				<use>admin</use>
				<args>
					<module>Ophirah_Qquoteadv</module>
					<frontName>qquoteadv</frontName>
				</args>
			</qquoteadv>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<sales translate="title" module="sales">
                <title>Sales</title>
				<children>
					<qquoteadv module="sales">
						<title>Advanced quote</title>
						<sort_order>70</sort_order>
						<action>qquoteadv/adminhtml_qquoteadv</action>
					</qquoteadv>
				</children>
			</sales>
		</menu>
		<acl>
            <resources>
                <all>
                    <title>Allow everything</title>
                </all>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <qquoteadv translate="title">
                                    <title>Cart2Quote</title>
                                </qquoteadv>
                            </children>
                        </sales>
                    </children>
                    <children>
                        <system>
                            <children>
                                    <config>
                                        <children>
                                            <qquoteadv translate="title">
                                                <title>Cart2Quote</title>
                                            </qquoteadv>
                                        </children>
                                    </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>


		<layout>
			<updates>
				<qquoteadv>
					<file>qquoteadv.xml</file>
				</qquoteadv>
			</updates>
		</layout>
		<translate>
            <modules>
                <Ophirah_Qquoteadv>
                    <files>
                        <default>Ophirah_Qquoteadv_AdminHtml.csv</default>
                    </files>
                </Ophirah_Qquoteadv>
            </modules>
        </translate>
    </adminhtml>

	<default>
		<qquoteadv>
			<general>
				<enabled>0</enabled>
				<expirtime_request>2</expirtime_request>
				<expirtime_proposal>3</expirtime_proposal>
				<qquoteadv_remark>We trust that you will find our quote satisfactory
					and look forward to working with you. Please contact us should you
					have any questions at all.</qquoteadv_remark>
                <checkout_url>checkout/onepage/index</checkout_url>
				<layout_update_listgrid_activated>0</layout_update_listgrid_activated>
				<layout_update_detailpage_activated>0</layout_update_detailpage_activated>
			</general>
			<number_format>
				<prefix>Q10.</prefix>
				<startnumber>0</startnumber>
				<increment>1</increment>
				<pad_number>5</pad_number>
			</number_format>
			<emails>
				<enabled>1</enabled>
				<user_password>quote123</user_password>
				<sender>support</sender>
			</emails>
            <attach>
               <pdf>0</pdf>
               <doc>0</doc>
            </attach>
            <debug>
               <active_c2q_tmpl>1</active_c2q_tmpl>
            </debug>
		</qquoteadv>
		<carriers>
			<qquoteshiprate>
				<active>0</active>
				<sallowspecific>0</sallowspecific>
				<model>Ophirah_Qquoteadv_Model_Shipping_Carrier_Qquoteshiprate
				</model>
				<name>Qquote Shipping Proposal Name</name>
				<price>1000.00</price>
				<title>Qquote Shipping Proposal Method</title>
				<type>O</type>
				<specificerrmsg>This shipping method is currently unavailable. If
					you would like to ship using this shipping method, please contact
					us.</specificerrmsg>
				<handling_type>F</handling_type>
			</qquoteshiprate>
		</carriers>
	</default>
</config>