<?xml version="1.0"?>
<config>
    <modules>
        <AsiaConnect_FreeCms>
            <version>1.0</version>
        </AsiaConnect_FreeCms>
    </modules>
    <frontend>
        <routers>
         <freecms>
            <use>standard</use>
            <args>
               <module>AsiaConnect_FreeCms</module>
               <frontName>freecms</frontName>
            </args>
         </freecms>
        </routers>
        <layout>
          <updates>
              <freecms>
                  <file>freecms.xml</file>
              </freecms>
          </updates>
        </layout>
        <translate>
            <modules>
                <AsiaConnect_FreeCms>
                    <files>
                        <default>AsiaConnect_FreeCms.csv</default>
                    </files>
                </AsiaConnect_FreeCms>
            </modules>
        </translate>
    </frontend>    
    <global>
        <blocks>
            <freecms><class>AsiaConnect_FreeCms_Block</class></freecms>
        </blocks>
		<helpers>
			<freecms><class>AsiaConnect_FreeCms_Helper</class></freecms>
		</helpers>
    </global>
</config>
