<?xml version="1.0"?>
<!--
/**
 * @category Mxperts
 * @package Mxperts_Jquery
 * @authors TMEDIA cross communications <info@tmedia.de>, Johannes Teitge <teitge@tmedia.de>, Igor Jankovic <jankovic@tmedia.de>, Daniel Sasse <daniel.sasse@golox.eu>
 * @copyright TMEDIA cross communications, Doris Teitge-Seifert
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config> 
 
    <global>
    
        <blocks>
            <page>
                <rewrite>
                     <html_head>Mxperts_Jquery_Block_Page_Html_Head</html_head>
                </rewrite>                     
            </page>
        </blocks>
        
        <models>
            <jquery>
                <class>Mxperts_Jquery_Model</class>
            </jquery>     
        </models>        
        
        <helpers>
        	  <mxperts>
        		    <class>Mxperts_Jquery_Helper</class>
        	  </mxperts>
        </helpers>
        
    </global>
    
    <adminhtml>   
    
         <layout>
             <updates>
                 <jquery>
                     <file>jquerybase.xml</file>
                 </jquery>
             </updates>
         </layout>                         
        
         <translate>
            <modules>
                <Mxperts_Jquery>
                    <files>
                        <default>Mxperts_Jquery.csv</default>
                    </files>
                </Mxperts_Jquery>
            </modules>
        </translate>
    
        <acl>
          <resources>
			<all>
				<title>Allow Everything</title>
			</all>
            <admin>
              <children>
            	  <catalog>
            		<children>
    					<mxperts>
                              <title>Mxperts</title>
    					</mxperts>
    				</children>
            	  </catalog>
                  <system>
                      <children>
                        <config>
                          <children>
                            <mxperts>
                              <title>Mxperts</title>
                            </mxperts>
                          </children>
                        </config>
                      </children>
                  </system>
              </children>
            </admin>
          </resources>
        </acl>
    </adminhtml>
    
<!-- BEGIN: Setzen der Standard-Werte -->    
    <default>
        <mxperts>
            <jquerysettings>
                <active>1</active>
                <jquery_noconflict>1</jquery_noconflict>
                <jquery_minified>1</jquery_minified>
                <jquery_always_latest>1</jquery_always_latest>                
                <jquery_functionality>0</jquery_functionality>
            </jquerysettings>
            <jqueryscript1>
                <active>0</active>
                <code><![CDATA[jQuery('.wrapper').css('border', 'solid 2px red');]]></code>
                <ready>1</ready>                
            </jqueryscript1>
            <jqueryscript2>
                <active>0</active>
                <code><![CDATA[// after click navigation is animated :-) 
    jQuery("#nav").click(function () {
      jQuery(this).hide(2000, function () {
        jQuery(this).show(2000);
      });
    });
]]></code>
                <ready>1</ready>                
            </jqueryscript2>
        </mxperts>
    </default>    
<!-- END: Setzen der Standard-Werte -->      
    

</config>