<?xml version="1.0"?>
<config>
    <modules>
       <PayNL_Fasterpay>
          <version>0.0.1</version>
       </PayNL_Fasterpay>
    </modules>
 
    <global>
        <helpers>
            <fasterpay>
                <class>PayNL_Fasterpay_Helper</class>
            </fasterpay>
        </helpers>
        <models>
            <fasterpay>
                <class>PayNL_Fasterpay_Model</class>
                <resourceModel>fasterpay_mysql4</resourceModel>
            </fasterpay>
            <fasterpay_mysql4>
                <class>PayNL_Fasterpay_Model_Mysql4</class>
                <entities>
                    <api_debug><table>fasterpay_api_debug</table></api_debug>
                </entities>
            </fasterpay_mysql4>
        </models>
 
        <resources>
            <fasterpay_setup>
                <setup>
                    <module>PayNL_Fasterpay</module>
                    <class>PayNL_Fasterpay_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fasterpay_setup>
            <fasterpay_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </fasterpay_write>
            <fasterpay_read>
               <connection>
                <use>core_read</use>
              </connection>
            </fasterpay_read>
        </resources>
        <blocks>
            <fasterpay><class>PayNL_Fasterpay_Block</class></fasterpay>
        </blocks>
        <sales>
            <order>
                <statuses>
                    <refund translate="label"><label>Refund</label></refund>
                    <pending_fasterpay translate="label"><label>Pending Fasterpay</label></pending_fasterpay>
                    <pending translate="label"><label>Pending</label></pending>
                    <processing translate="label"><label>Processing</label></processing>
                    <holded translate="label"><label>On Hold</label></holded>
                    <complete translate="label"><label>Complete</label></complete>
                    <closed translate="label"><label>Closed</label></closed>
                    <canceled translate="label"><label>Canceled</label></canceled>
                    <fraud translate="label"><label>Suspected Fraud</label></fraud>
                </statuses>
                <states>
                    <pending_payment>
                        <statuses>
                            <pending_fasterpay/>
                        </statuses>
                    </pending_payment>
                    <new translate="label">
                        <label>New</label>
                        <statuses>
                            <pending default="1"/>
                        </statuses>
                        <visible_on_front/>
                    </new>
                    <processing translate="label">
                        <label>Processing</label>
                        <statuses>
                            <processing default="1"/>
                        </statuses>
                        <visible_on_front/>
                    </processing>
                    <complete translate="label">
                        <label>Complete</label>
                        <statuses>
                            <complete default="1"/>
                        </statuses>
                        <visible_on_front/>
                    </complete>
                    <closed translate="label">
                        <label>Closed</label>
                        <statuses>
                            <closed default="1"/>
                        </statuses>
                        <visible_on_front/>
                    </closed>
                    <canceled translate="label">
                        <label>Canceled</label>
                        <statuses>
                            <canceled default="1"/>
                        </statuses>
                        <visible_on_front/>
                    </canceled>
                    <holded translate="label">
                        <label>On Hold</label>
                        <statuses>
                            <holded default="1"/>
                            <fraud/>
                        </statuses>
                        <visible_on_front/>
                    </holded>
                </states>
            </order>
        </sales>
    </global>
    <frontend>
        <secure_url>
            <fasterpay_fasterpay>/paynl/fasterpay</fasterpay_fasterpay>
        </secure_url>
        <routers>
            <fasterpay>
                <use>standard</use>
                <args>
                    <module>PayNL_Fasterpay</module>
                    <frontName>fasterpay</frontName>
                </args>
            </fasterpay>
        </routers>
        <translate>
            <modules>
                <PayNL_Fasterpay>
                    <files>
                        <default>PayNL_Fasterpay.csv</default>
                    </files>
                </PayNL_Fasterpay>
            </modules>
        </translate>
        <layout>
            <updates>
                <fasterpay>
                    <file>fasterpay.xml</file>
                </fasterpay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <PayNL_Fasterpay>
                    <files>
                        <default>PayNL_Fasterpay.csv</default>
                    </files>
                </PayNL_Fasterpay>
            </modules>
        </translate>
    </adminhtml>
 
    <default>
        <payment>
            <fasterpay_fasterpay>
                <model>fasterpay/fasterpay</model>
                <title>Pay.nl Fasterpay</title>
                <description>Fasterpay payment</description>
                <order_status>pending_fasterpay</order_status>
                <allowspecific>0</allowspecific>
            </fasterpay_fasterpay>
         </payment>
    </default>
</config>
      
