<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- AjaxSearch -->
   <modules>
       <TM_AjaxSearch>
           <version>1.0</version>
       </TM_AjaxSearch>
   </modules>
   <global>
        <helpers>
            <ajaxsearch>
                <class>TM_AjaxSearch_Helper</class>
            </ajaxsearch>
        </helpers>
        <models>
            <ajaxsearch>
                <class>TM_AjaxSearch_Model</class>
                <resourceModel>ajaxsearch_mysql4</resourceModel>
            </ajaxsearch>
            <ajaxsearch_mysql4>
                <class>TM_AjaxSearch_Model_Mysql4</class>
            </ajaxsearch_mysql4>
        </models>
        <resources>
            <ajaxsearch_setup>
                <setup>
                    <module>TM_AjaxSearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxsearch_setup>
            <ajaxsearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxsearch_write>
            <ajaxsearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxsearch_read>
        </resources>
    </global> 
    <default>
        <ajax_search>
            <general>
                <enabled>0</enabled>
				<minchars>3</minchars>
				<maxheight>300</maxheight>
				<width>300</width>
				<searchfieldtext>Search entire store here...</searchfieldtext>
				<productstoshow>10</productstoshow>
				<enableloader>1</enableloader>
				<sortby>name</sortby>
				<sortorder>asc</sortorder>
				<enabledescription>1</enabledescription>
				<descriptionchars>50</descriptionchars>
				<enableimage>1</enableimage>
				<imageheight>50</imageheight>
				<imagewidth>50</imagewidth>
				<enableleft>0</enableleft>
				<enableright>0</enableright>
                <headertext>See all result on</headertext>
                <footertext>See all result on</footertext>
            </general>
		</ajax_search>
    </default> 
    <frontend> 	
        <layout>
            <updates>
                <ajaxsearch>
                    <file>ajaxsearch.xml</file>
                </ajaxsearch>
            </updates>
        </layout>
        <routers>
            <ajaxsearch>
                <use>standard</use>
                <args>
                    <module>TM_AjaxSearch</module>
                    <frontName>ajaxsearch</frontName>
                </args>
            </ajaxsearch>
        </routers>
        <translate>
            <modules>
                <TM_Ajaxsearch>
                    <files>
                        <default>TM_Ajaxsearch.csv</default>
                    </files>
                </TM_Ajaxsearch>
            </modules>
        </translate>
   </frontend>
   <adminhtml>
        <translate>
            <modules>
                <TM_Ajaxsearch>
                    <files>
                        <default>TM_Ajaxsearch.csv</default>
                    </files>
                </TM_Ajaxsearch>
            </modules>
        </translate>
    </adminhtml>
</config>
