<?xml version="1.0"?>
<!-- 
  Copyright (c) 2009 Raptor Commerce (http://www.raptorcommerce.com)
-->
<config>
    <modules>
        <Raptor_Supermenu>
            <version>2.1.4.7</version>
        </Raptor_Supermenu>
    </modules>
    <admin>
      <routers>
         <supermenu>
            <use>admin</use>
            <args>
               <module>Raptor_Supermenu</module>
               <frontName>supermenuadmin</frontName>
            </args>
         </supermenu>
      </routers>
    </admin>
    <frontend>
        <routers>
            <supermenu>
                <use>standard</use>
                <args>
                    <module>Raptor_Supermenu</module>
                    <frontName>supermenu</frontName>
                </args>
            </supermenu>
        </routers>    
        <layout>
            <updates>
                <supermenu>
                    <file>supermenu.xml</file>
                </supermenu>
            </updates>
        </layout>
      	<translate>
         <modules>
            <Raptor_Supermenu>
               <files>
                  <default>Raptor_Supermenu.csv</default>
               </files>
            </Raptor_Supermenu>
         </modules>
      	</translate>        
    </frontend>
    <adminhtml>
     <menu>
         <cms>
            <children>
               <items module="supermenu">
                  <title>Custom menus</title>
                  <sort_order>5</sort_order>
                  <action>supermenu/adminhtml_custommenu</action>
               </items>
            </children>
         </cms>
      </menu>    
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<supermenu>
											<title>Supermenu</title>
											<sort_order>50</sort_order>
										</supermenu>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
      <layout>
         <updates>
            <supermenu>
               <file>supermenu.xml</file>
            </supermenu>
         </updates>
      </layout>		
    </adminhtml> 
    <global>
		<models>
        <supermenu>
        	<class>Raptor_Supermenu_Model</class>
        	<resourceModel>supermenu_mysql4</resourceModel>
        </supermenu>  
        <supermenu_mysql4>
        	<class>Raptor_Supermenu_Model_Mysql4</class>
            <entities>
               <custommenu>
                  <table>custommenu</table>
               </custommenu>
               <custommenu_store>
                  <table>custommenu_store</table>
               </custommenu_store>
            </entities>
        </supermenu_mysql4>               
		<catalog_resource_eav_mysql4>
			<rewrite>
        		<category_tree>Raptor_Supermenu_Model_Resource_Eav_Mysql4_Category_Tree</category_tree>
        	 	<category_flat>Raptor_Supermenu_Model_Resource_Eav_Mysql4_Category_Flat</category_flat>
        	 	<!-- needed by the category brands dropdown, we want to retrieve all products within
        	 	  an array of category ids (children categories) whereas the standard implementation only allows us to filter
        	 	  by one category id --> 
        	 	<product_collection>Raptor_Supermenu_Model_Resource_Eav_Mysql4_Product_Collection</product_collection>
        	</rewrite>
        </catalog_resource_eav_mysql4>
        <catalog>
        	<rewrite>
        		<category_attribute_backend_image>Raptor_Supermenu_Model_Category_Attribute_Backend_Image</category_attribute_backend_image>
        	</rewrite>
        </catalog>
        </models>
        <resources>
            <supermenu_setup>
                <setup>
                    <module>Raptor_Supermenu</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </supermenu_setup>
        </resources>		
        <blocks>
			<supermenu>
                <class>Raptor_Supermenu_Block</class>
            </supermenu>	
        </blocks>
        <helpers>
            <supermenu>
                <class>Raptor_Supermenu_Helper</class>
            </supermenu>
        </helpers>
        <translate>
            <modules>
                <Raptor_Supermenu>
                    <files>
                        <default>Raptor_Supermenu.csv</default>
                    </files>
                </Raptor_Supermenu>
            </modules>
        </translate>          
    </global>
</config>
