<?xml version="1.0"?>
<config>
	<modules>
		<Raptor_All>
			<version>1.0.0</version>
		</Raptor_All>
	</modules>
	<global>
		<models>
			<rall>
				<class>Raptor_All_Model</class>
			</rall>
		</models>
		<blocks>
			<rall>
				<class>Raptor_All_Block</class>
			</rall>
			<adminhtml>
				<rewrite>
					<notification_window>Raptor_All_Block_Notification_Window</notification_window>
				</rewrite>
			</adminhtml>
		</blocks>
	</global>
	<adminhtml>
		<events>
			<controller_action_predispatch>
				<observers>
					<rall>
						<class>rall/feed</class>
						<method>observe</method>
					</rall>
				</observers>
			</controller_action_predispatch>
		</events>
	</adminhtml>
	<default>
		<rall>
			<feed>
				<icon>
					<path>http://www.raptorcommerce.com/notifications/raptor_42.png</path>
				</icon>
				<url>www.raptorcommerce.com/notifications/feed.rss</url>
				<frequency>1</frequency>
			</feed>
		</rall>
	</default>
</config>