<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Verticalmenu>
            <version>1.5.0.1</version>
        </Magentothem_Verticalmenu>
    </modules>
    <frontend>
        <routers>
            <verticalmenu>
                <use>standard</use>
                <args>
                    <module>Magentothem_Verticalmenu</module>
                    <frontName>verticalmenu</frontName>
                </args>
            </verticalmenu>
        </routers>
        <layout>
            <updates>
                <verticalmenu>
                    <file>verticalmenu.xml</file>
                </verticalmenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<verticalmenu>
				<use>admin</use>
				<args>
					<module>Magentothem_Verticalmenu</module>
					<frontName>verticalmenu</frontName>
				</args>
			</verticalmenu>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="verticalmenu">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<verticalmenu translate="title" module="verticalmenu">
						<title>Vertical Menu</title>
						<sort_order>40</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>50</sort_order>
								<action>adminhtml/system_config/edit/section/verticalmenu</action>
							</configuration>
						</children>
					</verticalmenu>
				</children>
			</magentothem>
		</menu>
	<acl>
		<resources>
			<admin>
				<children>
					<system>
						<children>
							<config>
								<children>
									<verticalmenu>
										<title>Vertical Menu</title>
									</verticalmenu>
								</children>
							</config>
						</children>
					</system>					
				</children>
			</admin>
        </resources>
	</acl>
		<layout>
			<updates>
				<verticalmenu>
					<file>verticalmenu.xml</file>
				</verticalmenu>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <verticalmenu>
                <class>Magentothem_Verticalmenu_Model</class>
                <resourceModel>verticalmenu_mysql4</resourceModel>
            </verticalmenu>
            <verticalmenu_mysql4>
                <class>Magentothem_Verticalmenu_Model_Mysql4</class>
                <entities>
                    <verticalmenu>
                        <table>verticalmenu</table>
                    </verticalmenu>
                </entities>
            </verticalmenu_mysql4>
        </models>
        <resources>
            <verticalmenu_setup>
                <setup>
                    <module>Magentothem_Verticalmenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </verticalmenu_setup>
            <verticalmenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </verticalmenu_write>
            <verticalmenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </verticalmenu_read>
        </resources>
        <blocks>
            <verticalmenu>
                <class>Magentothem_Verticalmenu_Block</class>
            </verticalmenu>
        </blocks>
        <helpers>
            <verticalmenu>
                <class>Magentothem_Verticalmenu_Helper</class>
            </verticalmenu>
        </helpers>
    </global>
	<default>
		<verticalmenu>
			<verticalmenu_config>
				<enabled>1</enabled>
				<title>Vertical Navigation Categories </title>
				<leftmenu>accordion</leftmenu>
				<rightmenu></rightmenu>
				<shopby_accordion>1</shopby_accordion>
			</verticalmenu_config>
		</verticalmenu>
	</default>
</config>