<?xml version="1.0"?>
<config>
	<tabs>
		<magentothem translate="label" module="verticalmenu">
			<label>Magentothem</label>
			<sort_order>205</sort_order>
		</magentothem>
	</tabs>
	<sections>
		<verticalmenu translate="label" module="verticalmenu">
			<label>Vertical Menu</label>
			<tab>magentothem</tab>
			<sort_order>170</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<verticalmenu_config translate="label">
					<label>Vertical Menu Config</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled Module:</label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</enabled>						
                        <title translate="label">
                            <label>Title: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
						<leftmenu translate="label">
                            <label>Enabled Left Menu : </label>
                            <frontend_type>select</frontend_type>
                            <source_model>
								verticalmenu/config_style
							</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </leftmenu>
						<rightmenu translate="label">
                            <label>Enabled Right Menu: </label>
                            <frontend_type>select</frontend_type>
                            <source_model>
								verticalmenu/config_style
							</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rightmenu>
						<shopby_accordion translate="label comment">
							<label>Override Default Shop By:</label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</shopby_accordion>
					</fields>
				</verticalmenu_config>						
			</groups>
		</verticalmenu>
	</sections>
</config>