<?xml version="1.0"?>
<!-- 
/**
* J!Code WebDevelopment
*
* @title 		Magento payment module for iDeal Basic
* @category 	J!Code
* @package 		Jcode_Community
* @author 		Jeroen Bleijenberg / J!Code WebDevelopment <support@jcode.nl>
* @license  	http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
 -->
 <config>
 	<sections>
 		<payment>
 			<groups>
 				<idealbasic translate="label" module="paygate">
 					<label>iDeal Basic</label>
 					<sort_order>670</sort_order>
 					<show_in_default>1</show_in_default>
 					<show_in_website>1</show_in_website>
 					<show_in_store>0</show_in_store>
 					<fields>
 						<active translate="label">
 							<label>Enabled</label>
 							<frontend_type>select</frontend_type>
 							<source_model>adminhtml/system_config_source_yesno</source_model>
 							<sort_order>1</sort_order>
		 					<show_in_default>1</show_in_default>
		 					<show_in_website>1</show_in_website>
		 					<show_in_store>0</show_in_store> 							
 						</active>
 						<title translate="label">
 							<label>Title</label>
 							<frontend_type>text</frontend_type>
 							<sort_order>2</sort_order>
		 					<show_in_default>1</show_in_default>
		 					<show_in_website>1</show_in_website>
		 					<show_in_store>0</show_in_store> 							
 						</title> 						
 						<bank_name translate="label">
 							<label>Bank</label>
 							<frontend_type>select</frontend_type>
 							<source_model>idealbasic/config_bank</source_model>
 							<sort_order>3</sort_order>
		 					<show_in_default>1</show_in_default>
		 					<show_in_website>1</show_in_website>
		 					<show_in_store>0</show_in_store>  							
 						</bank_name>
 						<merchant_id translate="label">
 							<label>Merchant ID</label>
 							<comment>Leave empty if ABN Amro is your bank</comment>
 							<sort_order>4</sort_order>
		 					<show_in_default>1</show_in_default>
		 					<show_in_website>1</show_in_website>
		 					<show_in_store>0</show_in_store> 						
 						</merchant_id>
 						<merchant_key translate="label">
 							<label>Merchant Key</label>
 							<comment>Enter your PSPID if ABN Amro is your bank</comment>
 							<sort_order>5</sort_order>
		 					<show_in_default>1</show_in_default>
		 					<show_in_website>1</show_in_website>
		 					<show_in_store>0</show_in_store> 							
 						</merchant_key>
 						<transaction_name translate="label">
 							<label>Transaction Description</label>
 							<comment>If empty, the store name will be used</comment>
 							<sort_order>6</sort_order>
		 					<show_in_default>1</show_in_default>
		 					<show_in_website>1</show_in_website>
		 					<show_in_store>0</show_in_store> 							
 						</transaction_name>				
 						<run_mode translate="label">
 							<label>Test mode</label>
 							<frontend_type>select</frontend_type>
 							<source_model>adminhtml/system_config_source_yesno</source_model>
 							<sort_order>7</sort_order>
		 					<show_in_default>1</show_in_default>
		 					<show_in_website>1</show_in_website>
		 					<show_in_store>0</show_in_store> 							
 						</run_mode>
 						<order_status translate="label">
 							<label>New order status</label>
 							<frontend_type>select</frontend_type>
 							<source_model>adminhtml/system_config_source_order_status</source_model>
 							<sort_order>10</sort_order>
		 					<show_in_default>1</show_in_default>
		 					<show_in_website>1</show_in_website>
		 					<show_in_store>0</show_in_store> 							
 						</order_status>
 						<allowspecific translate="label">
 							<label>Payment from allowed countries</label>
 							<frontend_type>allowspecific</frontend_type>
 							<sort_order>50</sort_order>
 							<source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
		 					<show_in_default>1</show_in_default>
		 					<show_in_website>1</show_in_website>
		 					<show_in_store>0</show_in_store> 							
 						</allowspecific>
 						<specificcountry translate="label">
 							<label>Payment from specific countries</label>
 							<frontend_type>multiselect</frontend_type>
 							<sort_order>51</sort_order>
 							<source_model>adminhtml/system_config_source_country</source_model>
		 					<show_in_default>1</show_in_default>
		 					<show_in_website>1</show_in_website>
		 					<show_in_store>0</show_in_store> 							
 						</specificcountry>
 					</fields>
 				</idealbasic>
 			</groups>
 		</payment>
 	</sections>
 </config>