<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Drecomm_Quickorders>
            <version>0.1.0</version>
        </Drecomm_Quickorders>
    </modules>
    <frontend>
    	<translate>
            <modules>
                <translations>
                    <files>
                        <default>Drecomm_Quickorders.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <routers>
            <quickorders>
                <use>standard</use>
                <args>
                    <module>Drecomm_Quickorders</module>
                    <frontName>quickorders</frontName>
                </args>
            </quickorders>
        </routers>
        <layout>
            <updates>
                <quickorders>
                    <file>quickorders.xml</file>
                </quickorders>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <drecomm_quickorders>
                <class>Drecomm_Quickorders_Model_Quickorders</class>
            </drecomm_quickorders>
        </models>
        <blocks>
            <quickorders>
                <class>Drecomm_Quickorders_Block</class>
            </quickorders>
        </blocks>
        <helpers>
            <quickorders>
                <class>Drecomm_Quickorders_Helper</class>
            </quickorders>
        </helpers>
    </global>
</config>
