<?xml version="1.0"?>
<!--
/**
 * @category Mxperts
 * @package Mxperts_Jquery
 * @authors TMEDIA cross communications <info@tmedia.de>, Johannes Teitge <teitge@tmedia.de>, Igor Jankovic <jankovic@tmedia.de>, Daniel Sasse <d.sasse1984@googlemail.com>
 * @copyright TMEDIA cross communications, Doris Teitge-Seifert
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Mxperts_Jquery_Tools>
            <version>1.2.7</version>
            <depends>
                <Mxperts_Jquery />
            </depends>
        </Mxperts_Jquery_Tools>
    </modules>    
 
    <global>
    
        <blocks>
            <page>
                <rewrite>
                     <html_head>Mxperts_Jquery_Tools_Block_Page_Html_Head</html_head>
                </rewrite>                     
            </page>
        </blocks>
     
        
        <helpers>
        	  <jquerytools>
        		    <class>Mxperts_Jquery_Tools_Helper</class>
        	  </jquerytools>
        	  
        </helpers>
        
      <resources>
          <jquerytools_setup>
              <setup>
                  <module>Mxperts_Jquery_Tools</module>
              </setup>
              <connection>
                  <use>core_setup</use>
              </connection>
          </jquerytools_setup>
          
          <jquerytools_write>
              <connection>
                  <use>core_write</use>
              </connection>
          </jquerytools_write>
          
          <jquerytools_read>
              <connection>
                  <use>core_read</use>
              </connection>
          </jquerytools_read>
      </resources>        
        
    </global>
    
    <adminhtml>    
         <translate>
            <modules>
                <Mxperts_Jquery_Tools>
                    <files>
                        <default>Mxperts_Jquery_Tools.csv</default>
                    </files>
                </Mxperts_Jquery_Tools>
            </modules>
        </translate>
    
        <acl>
          <resources>
			      <all>
				      <title>Allow Everything</title>
			      </all>
            <admin>
              <children>
            	  <catalog>
            		  <children>
    					      <Mxperts>
                      <title>Mxperts</title>
    					      </Mxperts>
    				      </children>
            	  </catalog>
                <system>
                  <children>
                    <config>
                      <children>
                        <jquerytools>
                          <title>jQuery-Tools</title>
                        </jquerytools>
                      </children>
                    </config>
                  </children>
                </system>
              </children>
            </admin>            
          </resources>
        </acl>
    </adminhtml>
    
<!-- BEGIN: Setzen der Standard-Werte -->    
    <default>
      <jquerytools>
        
        <jquerytools>
         <active>1</active>        
        </jquerytools>        

      <jquerytools_tabs>
        <tabs>1</tabs>            
      </jquerytools_tabs>      

      <jquerytools_tooltip>
        <tooltip>1</tooltip>            
      </jquerytools_tooltip>      

      <jquerytools_scrollable>
        <scrollable>1</scrollable>      
      </jquerytools_scrollable>

      <jquerytools_overlay>
        <overlay>1</overlay>      
      </jquerytools_overlay>

      <jquerytools_overlay>
        <overlay>1</overlay>      
      </jquerytools_overlay>      

      <jquerytools_expose>
        <expose>1</expose>         
      </jquerytools_expose>

      <jquerytools_expose>
        <expose>1</expose>         
      </jquerytools_expose>
      
      <jquerytools_flashembed>
        <flashembed>1</flashembed>         
      </jquerytools_flashembed>
      
      </jquerytools>
      
                      
    
    </default>        
    
        
<!-- END: Setzen der Standard-Werte -->      
    

</config>